
{% extends 'flatpages/default.html' %}

{% load censor %}
{% url 'subscribe' %}
{% url 'unsubscribe' %}

{% block title %}
News
{% endblock title %}


{% block content %}

    <h1>{{ news_.header_post|censor }}</h1>
<hr>
    <h3>{{ news_.text_post|censor }}</h3>

    {{ news_.post_data|date:'d M Y'}}
<hr>



{% if request.user.is_authenticated %}
{% csrf_token %}
        {%for category in news_.post_category.all%}

            {% if request.user.is_subscriber %}

                 <p>Отписаться от новостей категории {{ category.name_category }}:
                <button><a href="{% url 'unsubscribe' category.id %}">Отписаться</a></button></p>
            {% else %}
                 <p>Подписаться на новости категории {{ category.name_category }}:
               <button><a href="{% url 'subscribe' category.id %}">Подписаться</a></button></p>
            {%endif%}
        {% endfor %}

{% endif %}

{% endblock content %}