<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load account %}
    <h1>Спасибо за регистрацию, {{ user.username }} на наш новостной канал!</h1>
    <p>Ждем тебя в ряды новых современных авторов. Окунись в мир новостей и постов!</p>
    <h3>Пожалуйста, нажми на ссылку <a href="{{ activate_url }}">the link</a>, для активации твоего аккаунта</h3>
</body>
</html>