{% extends 'flatpages/default.html' %}
{% url 'subscribe' %}
{% url 'unsubscribe' %}

{% block content %}

{% csrf_token %}

{% if request.user.is_authenticated %}
    <p>

        {%for category in post.post_category.all%}

            {% if not user in category.subscribe.all %}
                Подписаться на новости:
                <button><a href="{% url 'subscribe' post.id %}"> Подписаться</a></button>
            {% else %}
                Отписаться от новостей:
                <button><a href="{% url 'unsubscribe' post.id %}">Отписаться</a></button>
            {%endif%}
        {% endfor %}
    </p>
{% endif %}

{% endblock content %}