{% extends 'flatpages/default.html' %}
{% load censor %}

{% csrf_token %}

{% block title %} Search {% endblock title %}

{% block content %}

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
      <table>
           <tr>
               <td><b>Заголовок</b></td>
               <td><b>Дата</b></td>
               <td><b>Превью</b></td>
           </tr>
          {% for post in filter.qs %}
           <tr>
               <td> <a href = "{% url 'news_' post.id %}">{{ post.header_post|censor }}</a></td>
               <td>{{ post.post_data|date:'d M Y'}}</td>
               <td>{{ post.text_post|truncatechars:20|censor }}</td>



           </tr>
           {% endfor %}
       </table>

{% if page_obj.has_previous %}
<a href = "?page=1">First</a>
<a href = "?page={{ page_obj.previous_page_number }}"> << </a>
{% endif %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}




