{% extends 'flatpages/default.html' %}
{% load censor %}

{% block title %} Search {% endblock title %}

{% block content %}

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
      <table>
           <tr>
               <td><b>Заголовок</b></td>
               <td><b>Дата</b></td>
               <td><b>Превью</b></td>
           </tr>
          {% for post in filter.qs %}
           <tr>
               <td>{{ search.post.header_post|censor }}</td>
               <td>{{ search.post.post_data|date:'d M Y'}}</td>
               <td>{{ search.post.text_post|truncatechars:20|censor }}</td>

           </tr>
           {% endfor %}
       </table>
{% endblock content %}




